.task-mgmt {
    margin-top: 20px
  }
  
  .task-mgmt .top-10px-spacer{
    margin-top: 10px
  }
  
  .task-mgmt .bottom-10px-spacer{
    margin-top: 10px
  }
  
  
  .task-mgmt .checkbox-margin{
    margin-top: 15px;
    padding-right: 15px;
  
  }